html{
    box-sizing: border-box;
    font-family: 'Noto Serif TC';
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 56px;
    background-color: rgba(164, 240, 240, 0.527);
    width: auto;
    height: 100%;
    margin:0 auto ;
    font-family: 'Noto Serif TC';  
}




hr{
    text-align: center;
    width: 90%;
    border-color:rgb(3, 3, 128);
    background-color: rgb(3, 3, 128);
    height: 3px;
    
 }
 

.personal_img{
    width: 200px;
    height: 200px;
    border-radius: 70px;
}
table{

font-size: 14px;
}
thead{
font-weight: bold;

}
td{
    border: 2px ;
    border-style: outset;
   
}
.picture_intro_container{
    width: auto;
    display: flex;
    justify-content: space-around;
    

}
.intro_article{
    width: 400px;
}
.footer_container{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer{
    width: auto;
    height: 100px;
    background-color: rgba(84, 86, 235, 0.664);
    border-radius: 30px 30px 0 0;


}

@media (min-width: 768px) {
    /*nav選單*/
        .navbar{
        padding-left:50px!important;
        padding-right:50px!important; 
    }
    }